<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/signup.css" />

<body>
  <div class="signup-container">
    <form onsubmit="return validateSignupForm()" action="/admin/signup" method="POST" enctype="multipart/form-data">
        <div class="signup-frame">
            <div class="signup-top">
                <span>Agency Registration</span>
                <div>Go back <a href="/admin">Home</a></div>
                <p>Already signed up? <a href="/admin/login">Login</a></p>
            </div>

            <div class="sign-input-frame">
                <div class="sign-up-frame">
                    <label>Agency Name *</label>
                    <input type="text" name="memberNick" class="member-nick" placeholder="Enter agency name" required>
                </div>
                <div class="sign-up-frame">
                    <label>Phone Number *</label>
                    <input type="tel" name="memberPhone" class="member-phone" placeholder="Enter phone number" required>
                </div>
            </div>

            <div class="sign-input-frame">
                <div class="sign-up-frame">
                    <label>Password *</label>
                    <input type="password" name="memberPassword" class="member-password" placeholder="Create a password" required>
                </div>
                <div class="sign-up-frame">
                    <label>Confirm Password *</label>
                    <input type="password" name="confirmPassword" class="confirm-password" placeholder="Repeat your password" required>
                </div>
            </div>

            <div class="signup-input-frame">
                <div class="media-frame">
                    <img class="upload-img-frame" src="/img/default.png" alt="Restaurant Preview Image" id="preview-image">
                    <div class="upload-container">
                        <span class="media-text">Agency Image</span>
                        <div class="file-box preview-image">
                          <input class="upload-name" value="Choose image" disabled="disabled">
                          <label for="input-file" class="file-input-label">Upload Image</label>
                          <input type="file" id="input-file" class="upload-hidden member-image" name="memberImage" accept=".jpg,.jpeg,.png">
                      </div>
                        <p class="thumbnail-desc">
                            Please upload your restaurant image.<br>
                            Only .jpg, .jpeg, or .png formats allowed.<br>
                            Recommended size: 800x600 pixels.
                        </p>
                    </div>
                </div>
            </div>

            <input name="memberType" value="RESTAURANT" hidden>
            <button class="signup-btn" name="signup" type="submit">Create Account</button>
        </div>
    </form>
</div>
  
  <script type="text/javascript" src="/js/signup.js"></script>
</body>

<%- include('includes/footer') %>
